<?xml version="1.0"?>
<!--
/**
 * Trive Fiskal API Library.
 *
 * @category  Trive
 * @package   Trive_Fiskal
 * @copyright 2017 Trive d.o.o (http://trive.digital)
 * @license   http://www.opensource.org/licenses/mit-license.php The MIT License
 * @link      http://trive.digital
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Trive_Fiskal::fiskal" title="Trive - Fiskal" sortOrder="70">
                    <resource id="Trive_Fiskal::fiskal_invoice" title="Invoices" sortOrder="10"/>
                    <resource id="Trive_Fiskal::fiskal_location" title="Locations" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Trive_Fiskal::admin_config" title="Trive - Fiskal" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
