<?xml version="1.0"?>
<!--
/**
 * Trive Fiskal API Library.
 *
 * @category  Trive
 * @package   Trive_Fiskal
 * @copyright 2017 Trive d.o.o (http://trive.digital)
 * @license   http://www.opensource.org/licenses/mit-license.php The MIT License
 * @link      http://trive.digital
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Trive\Fiskal\Api\InvoiceRepositoryInterface" type="Trive\Fiskal\Model\InvoiceRepository"/>
    <preference for="Trive\Fiskal\Api\Data\InvoiceInterface" type="Trive\Fiskal\Model\Invoice"/>
    <preference for="Trive\Fiskal\Api\Data\InvoiceSearchResultsInterface" type="Trive\Fiskal\Model\InvoiceSearchResult"/>
    <preference for="Trive\Fiskal\Api\SequenceRepositoryInterface" type="Trive\Fiskal\Model\SequenceRepository"/>
    <preference for="Trive\Fiskal\Api\Data\SequenceInterface" type="Trive\Fiskal\Model\Sequence"/>
    <preference for="Trive\Fiskal\Api\Data\SequenceSearchResultsInterface" type="Trive\Fiskal\Model\SequenceSearchResult"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="trive_fiskal_invoice_listing_data_source" xsi:type="string">Trive\Fiskal\Model\ResourceModel\Invoice\Listing\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Trive\Fiskal\Model\ResourceModel\Invoice\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">trive_fiskal_invoice</argument>
            <argument name="resourceModel" xsi:type="string">Trive\Fiskal\Model\ResourceModel\Invoice</argument>
        </arguments>
    </type>
    <virtualType name="TriveFiskalInvoiceListingFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TriveFiskalInvoiceListingDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Trive\Fiskal\Model\ResourceModel\Invoice\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TriveFiskalInvoiceListingFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Email\Model\AbstractTemplate">
        <plugin name="abstractTemplateAddFiskalText" type="\Trive\Fiskal\Plugin\AbstractTemplate"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="systemConfigGenerateSequence" type="Trive\Fiskal\Plugin\Config"/>
    </type>
</config>
